*.pyc
build
dist
MANIFEST
output

#################
## npm
#################

npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/

node_modules/*/node_modules

watchon/images/
watchon/images/*
